.postInfo{
    background-color: white;
    max-height:100%;
    max-width:100%;
    text-align: center;
}

.dateSectionStyle {
    color: rgb(46, 49, 47);
    padding: 1em; 
    font-size: 15;
    text-align: center;
    text-transform: uppercase;
}

.headerStyle {
    color: rgb(46, 49, 47);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width:100%;
    text-transform: uppercase;
}
.breakStyle {
    margin-left: 18em;
    margin-right: 18em;
    color: rgb(46, 49, 47);
    background-color:rgb(46, 49, 47) ;
    border-top: 1em solid rgb(46, 49, 47);
    opacity: 1;
    border-color: rgb(46, 49, 47);
}

.descriptionStyle {
    width:100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 20;
}

.closeButton {
    background-color: white;
    border: 0px;
}